---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <Header />

        <section>
            <div class="today">
                <h2>Présent</h2>
                <p>
                    <strong>Aujourd'hui</strong>, mes ambitions se concentrent
                    surtout sur la recherche d'un stage qui pourrait
                    potentiellement se transformer en alternance. Un stage dans
                    l'industrie du jeu vidéo serait une opportunité incroyable
                    pour approfondir mes compétences et progresser encore plus
                    dans ce domaine qui me passionne.
                </p>
            </div>

            <div class="tomorow">
                <h2>Avenir</h2>
                <p>
                    Dans le <strong>futur</strong>, j'espère continuer à évoluer
                    dans cette industrie qui me touche énormément, autant par
                    son histoire que par son ingéniosité. J’aimerais faire
                    partie d’une grande équipe de concepteurs dans des studios
                    connus, comme Ubisoft, Rockstar ou Arkane. Mais mon plus
                    grand rêve serait de créer mon propre studio, ou de devenir
                    l’un des meilleurs concepteurs de JRPG, en travaillant par
                    exemple chez Capcom, Square Enix ou Monolith Soft. Si je
                    devais résumer en une seule phrase : "<strong
                        >Je souhaite que mon Nom laisse une empreinte dans le
                        jeu vidéo</strong
                    >".
                </p>
            </div>
        </section>

        <Footer />
    </body>
</html>
