<body>
    <main>
        <!-- Section intro visible directement -->
        <section class="intro">
            <h2>Qui suis-je ?</h2>
            <div class="presentation reveal">
                <p>
                    Passionné de <strong>jeux vidéo</strong> depuis mon enfance,
                    j'ai hérité de cette passion de mon père et je souhaite aujourd’hui
                    passer du rôle de <strong>joueur</strong> à celui de <strong
                        >créateur</strong
                    >. J'ai réalisé plusieurs <strong
                        >mini-projets personnels</strong
                    > sur <strong>Unity</strong> et <strong
                        >Unreal Engine</strong
                    >, ce qui m'a permis de développer de solides compétences en <strong
                        >programmation</strong
                    >, <strong>débogage</strong> et maîtrise d'<strong
                        >outils complexes</strong
                    >.
                </p>
                <p>
                    Actuellement étudiant à <strong>l'IPSSI</strong>, grande
                    école d'<strong>informatique</strong>, je suis à la
                    recherche d'un <strong
                        >stage évolutif vers une alternance</strong
                    >. <strong>Autodidacte</strong> et <strong>déterminé</strong
                    >, je fais preuve d'une grande <strong>persévérance</strong>
                    face aux <strong>défis techniques</strong> : chaque problème
                    est pour moi une opportunité de trouver une <strong
                        >solution efficace et créative</strong
                    >.
                </p>
            </div>
        </section>

        <!-- Compétences -->
        <section class="competence reveal">
            <div class="programmation">
                <h2>Langages de Programmation</h2>
                <ul>
                    <li class="skill">
                        <span>Python</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>C++</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>C#</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>HTML</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>JavaScript</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>CSS</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="Outils">
                <h2>Outils de Programmation</h2>
                <ul>
                    <li class="skill">
                        <span>Visual Studio</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>Unity</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>Unreal Engine</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                    <li class="skill">
                        <span>GitHub</span>
                        <div class="xp-segments">
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-fill green"></div>
                            <div class="xp-empty"></div>
                            <div class="xp-empty"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
