<footer>
    <div class="Bande_F">
     <div class="Contact">
        <h2>Contacter Moi</h2>
        <ul>
            <li>
                <h3>Numéro : 06 11 23 04 93</h3>
                <h3>Mail : lacoque.mathys.pro@gmail.com</h3>
            </li>
        </ul>
     </div>
     <div class="Reseaux">
        <h2>Mes Réseaux</h2>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/mathys-lacoque-169707340/">Linkedin</a>
            </li>
        </ul>
        
     </div>
    </div>


</footer>
